# Dependencies
node_modules/
.next/
dist/
build/
.e2e/

# Python Virtual Environments
venv/
.venv/
env/
venv_*/
bin/
include/
lib/
share/
pyvenv.cfg
*.pyc
__pycache__/

# Environment Variables
.env
.env.local
.env.*.local

# OS Files
.DS_Store
Thumbs.db

# Large files
rms_backend/project.zip
*.zip
